[Unit]
Description=Locast2Plex Service

[Service]
ExecStart=python3 /home/pi/locast2plex/git/main.py
Restart=always
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target
