[color]
	ui = true
[commit]
	gpgsign = true
[user]
	signingkey = A9428D3ED91D15EE
	email = nathan@snydern.com
	name = Nathan Snyder
[pull]
	ff = only
[core]
	excludesfile = /Users/nathan/.git/.gitignore.global
